/* File의 메뉴로 파일을 만들 경우 확장자를 직접 써줘야 한다.(그냥 피니쉬 누르면 확장자가 안적힘) 
   => css의 확장자는 .css로 지정하도록 한다.
   HTML과 CSS의 파일을 분리하여 관리하는 것이 이번 실습의 목적이고, 지금도 현재 웹사이트에서도 많이 활용되는 구조임.
   앞으로도 html과 css의 파일을 분리해서 작업을 하고 html에 링크를 걸어서 적용되도록 한다. */
   
body { /* 태그 선택자(본문영역 전체가 적용됨) */
	color:blue;
}

b, p { /* 태그들을 공통적으로 선택(콤마를 이용해서 동일한 속성을 지정해줌) */
	color:red;
	font-size:20px;
}